* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container {
    border: 5px solid red;
    display: grid;
    grid-template-columns: minmax(33%, 1fr) minmax(67%, 4fr) ;
    grid-template-rows:    1fr 4fr;
    gap: 10px;
    padding: 5px;
    text-align: center;
}
.header {
    background-color:yellowgreen;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 2 / 3; /*start/end*/
    display:grid;
    grid-template-columns: minmax(450px, 1fr) minmax(450px,1fr);
}
/* All the header divs are below */
.header > div {
    border: 2px solid blue;
    margin: 5px;
}
.search {

}
.name {
    /* display:flex; 
    align-items: end;
     */
     display:grid;
     grid-template-columns: repeat(2,minmax(200px, 1fr)); /*Keeps my the colums from being shorter than 200px (name all on one line) and can grow larger*/
     align-items: end;
     justify-items: center;
    font-size: 10px;
    
}
img {
    /* margin: 40px; */
    height: auto;
    width:100px;
}
#bell {
    height:auto;
    width: 40px;
}

.top-right {

}
.btns {
    background-color:purple;
}
button {
    padding: 20px 30px;
}
input {
    padding:10px 30px;
    border-radius: 5px;
    
}
/*-----------side-nav begins below this line---------------*/
.side-nav {
    background-color: tomato;
    grid-column: 1/2;
    grid-row:    1/4;
    display:grid;
    grid-template-columns: 1fr;
    color:white;
    
}
.side-nav > * {
    border: 5px solid green;
}
#side-nav-logo {
    display:flex;
}   
#side-nav-logo > * {
    border: 2px black solid;
    align-self: center;
} 
.side-nav-grid > ul{
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 3fr;
    text-align: left;
    margin-left: 30px;
    justify-content: space-around;
    row-gap: 20px;
    border: dashed black 2px;
}
ul > * {
    border: yellow 2px solid;
}
ul > img {
    height: auto;
    width: 30px;
}
li {
    list-style: none;
}
/*-----------------------------------------------------*/
.main {
    border: 5px dashed purple;
    grid-column: 2/3;
    grid-row:    2/4;
    display: grid; 
    grid-template-columns: minmax(600px,2fr) minmax(300px, 1fr);
    grid-template-rows:    repeat(2, minmax(400px, 1fr));
    

}
.projects {
   background-color:lightskyblue;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding:20px;
}
.small-img {
    height:auto;
    width: 30px;
}
.projects h1 {
    align-self: start;
}
.card-container {
    /* border: 3px yellow solid; */
    display: grid;
    /* grid-template-columns: repeat(2, 300px); 
    */
    grid-template-columns: repeat(2, minmax(300px, 1fr));
}
.card {
    /* border:2px red solid; */
    margin: 5px;
}
.announcements {
    text-align: left;
    background-color: lightpink;
    
    padding: 20px;
}

.trending {
    background-color:lightseagreen;
}
